## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at Name value counts for binning
application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Define a cutoff value
cutoff_value = 6

# Calculate value counts for 'NAME'
counts = application_df['NAME'].value_counts()

# Identify application types to be replaced
application_types_to_replace = counts[counts < cutoff_value].index.tolist()

# Replace application types with counts < cutoff_value
application_df['NAME'] = application_df['NAME'].apply(lambda x: 'Other' if x in application_types_to_replace else x)

# Display value counts after replacement
value_counts_after_replacement = application_df['NAME'].value_counts()
print(value_counts_after_replacement)

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Define a cutoff value
cutoff_value = 528

# Calculate value counts for 'APPLICATION_TYPE'
counts = application_df['APPLICATION_TYPE'].value_counts()

# Identify application types to be replaced
application_types_to_replace = counts[counts < cutoff_value].index.tolist()

# Replace application types with counts < cutoff_value
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].apply(lambda x: 'Other' if x in application_types_to_replace else x)

# Display value counts after replacement
value_counts_after_replacement = application_df['APPLICATION_TYPE'].value_counts()
print(value_counts_after_replacement)

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Calculate value counts for 'CLASSIFICATION'
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Filter and display only counts greater than 1
filtered_counts = classification_counts[classification_counts > 1]
filtered_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Define a cutoff value
cutoff_value = 1883

# Calculate value counts for 'CLASSIFICATION'
counts = application_df['CLASSIFICATION'].value_counts()

# Identify classification types to be replaced
classifications_to_replace = counts[counts < cutoff_value].index.tolist()

# Replace classification types with counts < cutoff_value
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].apply(lambda x: 'Other' if x in classifications_to_replace else x)

# Display value counts after replacement
value_counts_after_replacement = application_df['CLASSIFICATION'].value_counts()
print(value_counts_after_replacement)

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Split our preprocessed data into our features and target arrays
# Seperate the features, X,  from the target variable, y
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns='IS_SUCCESSFUL')
print(y.head())
print(X.head())

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64
                           NAME APPLICATION_TYPE       AFFILIATION  \
0  BLUE KNIGHTS MOTORCYCLE CLUB              T10       Independent
1                         Other               T3       Independent
2                         Other               T5  CompanySponsored
3                         Other               T3  CompanySponsored
4                         Other               T3       Independent

  CLASSIFICATION      USE_CASE  ORGANIZATION  STATUS     INCOME_AMT  \
0          C1000    ProductDev   Association       1              0
1          C2000  Preservation  Co-operative       1         1-9999
2          C3000    ProductDev   Association       1              0
3          C2000  Preservation         Trust       1    10000-24999
4          C1000     Heathcare         Trust       1  100000-499999

  SPECIAL_CONSIDERATIONS  ASK_AMT
0                      N     5000
1                      N   108590
2                      N     5000
3                      N     6692
4                      N   142590

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(X)
print(X.head())

   STATUS  ASK_AMT  NAME_AACE INTERNATIONAL  \
0       1     5000                        0
1       1   108590                        0
2       1     5000                        0
3       1     6692                        0
4       1   142590                        0

   NAME_ACE MENTOR PROGRAM OF AMERICA INC  \
0                                       0
1                                       0
2                                       0
3                                       0
4                                       0

   NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   NAME_AIR FORCE ASSOCIATION  NAME_ALABAMA FEDERATION OF WOMENS CLUBS  \
0                           0                                        0
1                           0                                        0
2                           0                                        0
3                           0                                        0
4                           0                                        0

   NAME_ALABAMA TREASURE FOREST ASSOCIATION  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0

   NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   NAME_ALPHA PHI OMEGA  ...  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  \
0                     0  ...                  0                       0
1                     0  ...                  1                       0
2                     0  ...                  0                       0
3                     0  ...                  0                       1
4                     0  ...                  0                       0

   INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  \
0                         0                   0                 0
1                         0                   0                 0
2                         0                   0                 0
3                         0                   0                 0
4                         1                   0                 0

   INCOME_AMT_25000-99999  INCOME_AMT_50M+  INCOME_AMT_5M-10M  \
0                       0                0                  0
1                       0                0                  0
2                       0                0                  0
3                       0                0                  0
4                       0                0                  0

   SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0                         1                         0
1                         1                         0
2                         1                         0
3                         1                         0
4                         1                         0

[5 rows x 398 columns]

In [12]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
print(X_train_scaled [0])

[ 0.01079982 -0.02957055 -0.01394306 -0.02160343 -0.01763775 -0.05479325
 -0.03301006 -0.02991499 -0.01394306 -0.01763775 -0.09330166 -0.02415478
 -0.01394306 -0.02925687 -0.04091931 -0.10972107 -0.02160343 -0.07658546
 -0.03416998 -0.01527415 -0.02571572 -0.02646178 -0.01763775 -0.03118975
 -0.01649829 -0.01763775 -0.03118975 -0.01649829 -0.01394306 -0.01527415
 -0.022486   -0.03118975 -0.02333528 -0.01394306 -0.01972038 -0.01394306
 -0.02571572 -0.01247081 -0.01870803 -0.03691139 -0.02068331 -0.02068331
 -0.03416998 -0.01649829 -0.01763775 -0.02494743 -0.01763775 -0.01527415
 -0.02068331 -0.02160343 -0.03118975 -0.02068331 -0.02160343 -0.022486
 -0.01394306 -0.022486   -0.03301006 -0.01527415 -0.02068331 -0.01079982
 -0.01247081 -0.02571572 -0.01394306 -0.01649829 -0.01527415 -0.01763775
 -0.02068331 -0.02333528 -0.04670872 -0.02718742 -0.02646178 -0.02718742
 -0.02718742 -0.01763775 -0.01763775 -0.01247081 -0.01649829 -0.01649829
 -0.01394306 -0.01079982 -0.01763775 -0.04413044 -0.06432508 -0.03637956
 -0.04278355 -0.022486   -0.01527415 -0.01527415 -0.01972038 -0.01079982
 -0.00881785 -0.01394306 -0.02646178 -0.02858365 -0.01247081 -0.05550246
 -0.02925687 -0.02718742 -0.04278355 -0.01972038 -0.02415478 -0.03118975
 -0.03416998 -0.01079982 -0.02160343 -0.02646178 -0.03529198 -0.04586527
 -0.02571572 -0.01870803 -0.02415478 -0.01247081 -0.01972038 -0.01649829
 -0.01527415 -0.02646178 -0.01649829 -0.00881785 -0.07209119 -0.01527415
 -0.01870803 -0.01972038 -0.01079982 -0.02068331 -0.022486   -0.03583987
 -0.02646178 -0.022486   -0.01079982 -0.01247081 -0.01649829 -0.01527415
 -0.02789425 -0.02991499 -0.02646178 -0.05297923 -0.01870803 -0.02789425
 -0.01649829 -0.02068331 -0.01247081 -0.02068331 -0.01394306 -0.06671871
 -0.01247081 -0.01649829 -0.022486   -0.01394306 -0.02494743 -0.05858902
 -0.01394306 -0.01394306 -0.01527415 -0.01247081 -0.01763775 -0.02991499
 -0.02415478 -0.01527415 -0.04994151 -0.01649829 -0.02160343 -0.08829654
 -0.02068331 -0.07785903 -0.01972038 -0.01972038 -0.01394306 -0.02858365
 -0.0389666  -0.01870803 -0.01649829 -0.00881785 -0.022486   -0.01527415
 -0.01394306 -0.01079982 -0.01247081 -0.0324146  -0.04413044 -0.06874597
 -0.02646178 -0.01763775 -0.01972038 -0.02068331 -0.04043991 -0.01247081
 -0.09006797 -0.02925687 -0.01972038 -0.01763775 -0.02068331 -0.03691139
 -0.02068331 -0.01079982 -0.01527415 -0.033595   -0.07735206 -0.05514898
 -0.01079982 -0.09115819 -0.03583987 -0.01527415 -0.02160343 -0.01527415
 -0.01527415 -0.01649829 -0.01972038 -0.03416998 -0.01527415 -0.01394306
 -0.01527415 -0.01870803 -0.02415478 -0.01763775 -0.01394306 -0.0324146
 -0.022486   -0.01527415 -0.022486   -0.01527415 -0.01649829 -0.01870803
 -0.01394306 -0.01247081 -0.01972038 -0.01527415 -0.03180805 -0.01394306
 -0.04139318 -0.01649829 -0.01870803 -0.01649829 -0.01527415 -0.00881785
 -0.01247081 -0.02789425 -0.01394306 -0.02494743 -0.01394306 -1.17975326
 -0.01527415 -0.19485784 -0.01527415 -0.01870803 -0.01972038 -0.01527415
 -0.01527415 -0.03416998 -0.01247081 -0.01870803 -0.02925687 -0.01394306
 -0.01870803 -0.10546932 -0.06523281 -0.01079982 -0.01527415 -0.01527415
 -0.01247081 -0.01394306 -0.01527415 -0.0324146  -0.05033115 -0.01527415
 -0.022486   -0.01972038 -0.01649829 -0.05654979 -0.01527415 -0.01972038
 -0.06371286 -0.01972038 -0.02160343 -0.01972038 -0.04139318 -0.01870803
 -0.01394306 -0.01649829 -0.01972038 -0.02160343 -0.04794633 -0.03180805
 -0.04139318 -0.01763775 -0.09946465 -0.01527415 -0.01394306 -0.02160343
 -0.02068331 -0.01079982 -0.01763775 -0.04457043 -0.01527415 -0.02494743
 -0.01394306 -0.06845997 -0.01394306 -0.01527415 -0.01079982 -0.02571572
 -0.02160343 -0.01394306 -0.02646178 -0.01394306 -0.02160343 -0.06493162
 -0.01247081 -0.01649829 -0.01972038 -0.01649829 -0.09266365  6.619315
 -0.01972038 -0.01649829 -0.01527415 -0.01527415 -0.03691139 -0.0324146
 -0.02789425 -0.01763775 -0.01972038 -0.14278913 -0.01649829 -0.03180805
 -0.01247081 -0.02160343 -0.04139318 -0.01247081 -0.05443523 -0.01527415
 -0.02415478 -0.01870803 -0.02333528 -0.01394306 -0.01972038 -0.03691139
 -0.03180805 -0.06671871 -0.02858365 -0.033595   -0.0389666  -0.01394306
 -0.01527415 -0.01763775 -0.01247081 -0.05514898 -0.1212989  -0.02571572
 -0.022486   -0.01394306 -0.05479325 -0.01649829 -0.01870803 -0.01763775
 -0.01394306 -0.02160343 -0.01972038 -0.08940766 -0.12358845 -0.17846338
  0.52028597 -0.21848437 -0.18930918 -0.19399646 -0.14518018 -0.15039866
  1.08034442 -0.04278355 -1.07318949 -0.03118975 -0.00881785 -0.02068331
 -1.00506648  2.46274075 -0.46615531 -0.24117497 -0.24342285 -0.26693271
 -0.1058455  -0.06612829 -0.01079982  0.47226103 -0.44744306  1.52769491
 -0.11947101 -0.03637956 -1.47346684  0.63741496 -0.15066874 -0.12439654
 -0.33179062 -0.08204493 -0.1676198  -0.34899883 -0.06401969 -0.07529085
  0.02925687 -0.02925687]

## Compile, Train and Evaluate the Model

In [14]:
from tensorflow.keras.optimizers import Adam

# Define the model - deep neural net (number input features & hidden nodes for each layer)
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 =  10
hidden_nodes_layer3 =  10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the model with the Adam optimizer
nn.compile(loss="binary_crossentropy", optimizer=Adam(learning_rate=0.001), metrics=["accuracy"])

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                3990

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 10)                110

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 4221 (16.49 KB)
Trainable params: 4221 (16.49 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 4ms/step - loss: 0.4958 - accuracy: 0.7573
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4415 - accuracy: 0.7883
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4347 - accuracy: 0.7932
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4315 - accuracy: 0.7935
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4296 - accuracy: 0.7937
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4283 - accuracy: 0.7949
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4261 - accuracy: 0.7955
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4251 - accuracy: 0.7966
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4239 - accuracy: 0.7962
Epoch 10/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4233 - accuracy: 0.7977
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4226 - accuracy: 0.7963
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4218 - accuracy: 0.7966
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4222 - accuracy: 0.7980
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4214 - accuracy: 0.7976
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4206 - accuracy: 0.7973
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4204 - accuracy: 0.7980
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4194 - accuracy: 0.7984
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4193 - accuracy: 0.7987
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4189 - accuracy: 0.7989
Epoch 20/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4183 - accuracy: 0.7993
Epoch 21/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4177 - accuracy: 0.7998
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4174 - accuracy: 0.7984
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4173 - accuracy: 0.7998
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4164 - accuracy: 0.8000
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4164 - accuracy: 0.7998
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4163 - accuracy: 0.8005
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4160 - accuracy: 0.8009
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4158 - accuracy: 0.8005
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4153 - accuracy: 0.8007
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4152 - accuracy: 0.8006
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4147 - accuracy: 0.8012
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4150 - accuracy: 0.8009
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4144 - accuracy: 0.8020
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4142 - accuracy: 0.8009
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4141 - accuracy: 0.8007
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4138 - accuracy: 0.8014
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4141 - accuracy: 0.8010
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4132 - accuracy: 0.8018
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4137 - accuracy: 0.8011
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4131 - accuracy: 0.8024
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4128 - accuracy: 0.8011
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4130 - accuracy: 0.8018
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4122 - accuracy: 0.8021
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4123 - accuracy: 0.8025
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4123 - accuracy: 0.8022
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4119 - accuracy: 0.8018
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4122 - accuracy: 0.8023
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4118 - accuracy: 0.8024
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4115 - accuracy: 0.8036
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4115 - accuracy: 0.8029
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4117 - accuracy: 0.8040
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4112 - accuracy: 0.8024
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4106 - accuracy: 0.8045
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4109 - accuracy: 0.8029
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4103 - accuracy: 0.8030
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4107 - accuracy: 0.8038
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4102 - accuracy: 0.8036
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4105 - accuracy: 0.8028
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4102 - accuracy: 0.8032
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4102 - accuracy: 0.8031
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4100 - accuracy: 0.8028
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4104 - accuracy: 0.8022
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4097 - accuracy: 0.8026
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4097 - accuracy: 0.8036
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4093 - accuracy: 0.8035
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4095 - accuracy: 0.8044
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4093 - accuracy: 0.8046
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4096 - accuracy: 0.8032
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4093 - accuracy: 0.8054
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4092 - accuracy: 0.8035
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4091 - accuracy: 0.8043
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4091 - accuracy: 0.8031
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4087 - accuracy: 0.8035
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4089 - accuracy: 0.8038
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4089 - accuracy: 0.8037
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4087 - accuracy: 0.8047
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4087 - accuracy: 0.8036
Epoch 78/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4082 - accuracy: 0.8044
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4082 - accuracy: 0.8047
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4084 - accuracy: 0.8043
Epoch 81/100

804/804 [==============================] - 3s 4ms/step - loss: 0.4082 - accuracy: 0.8040
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4082 - accuracy: 0.8050
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4083 - accuracy: 0.8043
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4080 - accuracy: 0.8043
Epoch 85/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4081 - accuracy: 0.8047
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4081 - accuracy: 0.8039
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4081 - accuracy: 0.8050
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4079 - accuracy: 0.8048
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4080 - accuracy: 0.8048
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4080 - accuracy: 0.8050
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4075 - accuracy: 0.8036
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4078 - accuracy: 0.8042
Epoch 93/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4078 - accuracy: 0.8050
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4078 - accuracy: 0.8047
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4076 - accuracy: 0.8046
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4077 - accuracy: 0.8044
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4074 - accuracy: 0.8055
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4077 - accuracy: 0.8056
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4074 - accuracy: 0.8052
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4073 - accuracy: 0.8049

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4418 - accuracy: 0.7917 - 884ms/epoch - 3ms/step
Loss: 0.4417864978313446, Accuracy: 0.7917200922966003

In [18]:
# Save the model to an HDF5 file
nn.save("AlphabetSoupCharity_Optimization.keras")
#Note to load model from the HDF5 file
#loaded_model = tf.keras.models.load_model("AlphabetSoupCharity_Optimization.h5")