## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Define a cutoff value
cutoff_value = 528

# Calculate value counts for 'APPLICATION_TYPE'
counts = application_df['APPLICATION_TYPE'].value_counts()

# Identify application types to be replaced
application_types_to_replace = counts[counts < cutoff_value].index.tolist()

# Replace application types with counts < cutoff_value
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].apply(lambda x: 'Other' if x in application_types_to_replace else x)

# Display value counts after replacement
value_counts_after_replacement = application_df['APPLICATION_TYPE'].value_counts()
print(value_counts_after_replacement)

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Calculate value counts for 'CLASSIFICATION'
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Filter and display only counts greater than 1
filtered_counts = classification_counts[classification_counts > 1]
filtered_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Define a cutoff value
cutoff_value = 1883

# Calculate value counts for 'CLASSIFICATION'
counts = application_df['CLASSIFICATION'].value_counts()

# Identify classification types to be replaced
classifications_to_replace = counts[counts < cutoff_value].index.tolist()

# Replace classification types with counts < cutoff_value
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].apply(lambda x: 'Other' if x in classifications_to_replace else x)

# Display value counts after replacement
value_counts_after_replacement = application_df['CLASSIFICATION'].value_counts()
print(value_counts_after_replacement)

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Split our preprocessed data into our features and target arrays
# Seperate the features, X,  from the target variable, y
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns='IS_SUCCESSFUL')
print(y.head())
print(X.head())

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64
  APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0              T10       Independent          C1000    ProductDev
1               T3       Independent          C2000  Preservation
2               T5  CompanySponsored          C3000    ProductDev
3               T3  CompanySponsored          C2000  Preservation
4               T3       Independent          C1000     Heathcare

   ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS  ASK_AMT
0   Association       1              0                      N     5000
1  Co-operative       1         1-9999                      N   108590
2   Association       1              0                      N     5000
3         Trust       1    10000-24999                      N     6692
4         Trust       1  100000-499999                      N   142590

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(X)
print(X.head())

   STATUS  ASK_AMT  APPLICATION_TYPE_Other  APPLICATION_TYPE_T10  \
0       1     5000                       0                     1
1       1   108590                       0                     0
2       1     5000                       0                     0
3       1     6692                       0                     0
4       1   142590                       0                     0

   APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                     0                    0                    0
1                     0                    1                    0
2                     0                    0                    0
3                     0                    1                    0
4                     0                    1                    0

   APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    1                    0                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  0                       0                         0
1                  1                       0                         0
2                  0                       0                         0
3                  0                       1                         0
4                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 43 columns]

In [10]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
print(X_train_scaled [0])

[ 0.01079982 -0.02957055 -0.08940766 -0.12358845 -0.17846338  0.52028597
 -0.21848437 -0.18930918 -0.19399646 -0.14518018 -0.15039866  1.08034442
 -0.04278355 -1.07318949 -0.03118975 -0.00881785 -0.02068331 -1.00506648
  2.46274075 -0.46615531 -0.24117497 -0.24342285 -0.26693271 -0.1058455
 -0.06612829 -0.01079982  0.47226103 -0.44744306  1.52769491 -0.11947101
 -0.03637956 -1.47346684  0.63741496 -0.15066874 -0.12439654 -0.33179062
 -0.08204493 -0.1676198  -0.34899883 -0.06401969 -0.07529085  0.02925687
 -0.02925687]

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net (number input features & hidden nodes for each layer)
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 =  8

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 403 (1.57 KB)
Trainable params: 403 (1.57 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/150
804/804 [==============================] - 1s 1ms/step - loss: 0.6158 - accuracy: 0.6902
Epoch 2/150
804/804 [==============================] - 1s 972us/step - loss: 0.5671 - accuracy: 0.7238
Epoch 3/150
804/804 [==============================] - 1s 985us/step - loss: 0.5592 - accuracy: 0.7273
Epoch 4/150
804/804 [==============================] - 1s 975us/step - loss: 0.5557 - accuracy: 0.7283
Epoch 5/150
804/804 [==============================] - 1s 975us/step - loss: 0.5538 - accuracy: 0.7286
Epoch 6/150
804/804 [==============================] - 1s 987us/step - loss: 0.5530 - accuracy: 0.7298
Epoch 7/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7298
Epoch 8/150
804/804 [==============================] - 1s 994us/step - loss: 0.5513 - accuracy: 0.7301
Epoch 9/150
804/804 [==============================] - 1s 982us/step - loss: 0.5509 - accuracy: 0.7313
Epoch 10/150
804/804 [==============================] - 1s 986us/step - loss: 0.5502 - accuracy: 0.7306
Epoch 11/150
804/804 [==============================] - 1s 988us/step - loss: 0.5498 - accuracy: 0.7312
Epoch 12/150
804/804 [==============================] - 1s 986us/step - loss: 0.5495 - accuracy: 0.7305
Epoch 13/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7320
Epoch 14/150
804/804 [==============================] - 1s 987us/step - loss: 0.5487 - accuracy: 0.7314
Epoch 15/150
804/804 [==============================] - 1s 1000us/step - loss: 0.5487 - accuracy: 0.7312
Epoch 16/150
804/804 [==============================] - 1s 985us/step - loss: 0.5482 - accuracy: 0.7320
Epoch 17/150
804/804 [==============================] - 1s 992us/step - loss: 0.5477 - accuracy: 0.7320
Epoch 18/150
804/804 [==============================] - 1s 992us/step - loss: 0.5479 - accuracy: 0.7317
Epoch 19/150
804/804 [==============================] - 1s 997us/step - loss: 0.5477 - accuracy: 0.7311
Epoch 20/150
804/804 [==============================] - 1s 995us/step - loss: 0.5474 - accuracy: 0.7320
Epoch 21/150
804/804 [==============================] - 1s 991us/step - loss: 0.5471 - accuracy: 0.7326
Epoch 22/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7315
Epoch 23/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7321
Epoch 24/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7318
Epoch 25/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7330
Epoch 26/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7324
Epoch 27/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7328
Epoch 28/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7329
Epoch 29/150
804/804 [==============================] - 1s 998us/step - loss: 0.5462 - accuracy: 0.7323
Epoch 30/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7333
Epoch 31/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7332
Epoch 32/150
804/804 [==============================] - 1s 994us/step - loss: 0.5460 - accuracy: 0.7322
Epoch 33/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7327
Epoch 34/150
804/804 [==============================] - 1s 996us/step - loss: 0.5457 - accuracy: 0.7334
Epoch 35/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7330
Epoch 36/150
804/804 [==============================] - 1s 996us/step - loss: 0.5459 - accuracy: 0.7334
Epoch 37/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7329
Epoch 38/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7329
Epoch 39/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7331
Epoch 40/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7328
Epoch 41/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7329
Epoch 42/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7333
Epoch 43/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7325
Epoch 44/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7334
Epoch 45/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7336
Epoch 46/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7334
Epoch 47/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7322
Epoch 48/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7332
Epoch 49/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7336
Epoch 50/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7338
Epoch 51/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7341
Epoch 52/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7344
Epoch 53/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7343
Epoch 54/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7338
Epoch 55/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7333
Epoch 56/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7328
Epoch 57/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7338
Epoch 58/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7335
Epoch 59/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7332
Epoch 60/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7341
Epoch 61/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7340
Epoch 62/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7336
Epoch 63/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7338
Epoch 64/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7334
Epoch 65/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7331
Epoch 66/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7341
Epoch 67/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7338
Epoch 68/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7334
Epoch 69/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7334
Epoch 70/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7334
Epoch 71/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7332
Epoch 72/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7324
Epoch 73/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7340
Epoch 74/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7339
Epoch 75/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7339
Epoch 76/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7336
Epoch 77/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7336
Epoch 78/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7337
Epoch 79/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7336
Epoch 80/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7338

Epoch 81/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7338
Epoch 82/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7336
Epoch 83/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7338
Epoch 84/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7334
Epoch 85/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7341
Epoch 86/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7333
Epoch 87/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7338
Epoch 88/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7341
Epoch 89/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7343
Epoch 90/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7335
Epoch 91/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7343
Epoch 92/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7334
Epoch 93/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7335
Epoch 94/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7340
Epoch 95/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7343
Epoch 96/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7345
Epoch 97/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7333
Epoch 98/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7341
Epoch 99/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7338
Epoch 100/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7341
Epoch 101/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7345
Epoch 102/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7340
Epoch 103/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7342
Epoch 104/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7341
Epoch 105/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7345
Epoch 106/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7348
Epoch 107/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7343
Epoch 108/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7351
Epoch 109/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7339
Epoch 110/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7338
Epoch 111/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7348
Epoch 112/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7346
Epoch 113/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7341
Epoch 114/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7343
Epoch 115/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7345
Epoch 116/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7342
Epoch 117/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 118/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7342
Epoch 119/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7343
Epoch 120/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7334
Epoch 121/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7335
Epoch 122/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7341
Epoch 123/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7346
Epoch 124/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7348
Epoch 125/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7342
Epoch 126/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7343
Epoch 127/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7342
Epoch 128/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7351
Epoch 129/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7335
Epoch 130/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 131/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7329
Epoch 132/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7337
Epoch 133/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7332
Epoch 134/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7340
Epoch 135/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7335
Epoch 136/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7333
Epoch 137/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7339
Epoch 138/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7339
Epoch 139/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7337
Epoch 140/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7332
Epoch 141/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7332
Epoch 142/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7339
Epoch 143/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7340
Epoch 144/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7334
Epoch 145/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7334
Epoch 146/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7346
Epoch 147/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7327
Epoch 148/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7340
Epoch 149/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7339
Epoch 150/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7347

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5567 - accuracy: 0.7254 - 320ms/epoch - 1ms/step
Loss: 0.5567141175270081, Accuracy: 0.7253644466400146

In [16]:
# Save the model to an HDF5 file
nn.save("Alphabet_Soup_model_1.h5")
#Note to load model from the HDF5 file
#loaded_model = tf.keras.models.load_model("Alphabet_Soup_model_2.h5")

C:\Users\kwlay\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(